*{
  margin: 0;
  padding: 0;
}
body {
    overflow: hidden;
  }
  table {
    width: 100vw;
    height: 100vh;
  }
  td {
    text-align: center;
  }
td.heading{
  font-size: 5vw;
}
  td a{
    padding: 10px 30px;
    transition: 400ms;
    color: #000;
  }
  img[src="logo.jfif"] {
    padding: 0px;
    width: 7vw;
    height: 7vw;
  }
  a{
    list-style: none;
    text-decoration: none;
    font-size: 2vw;
  }
  td a:hover{
    background-color: #000;
    color: #fff;
  }
