*{
    margin: 0;
}
.container{
    margin-top: 10vh;
}
.container .child{
    text-align: center;
    cursor: pointer;
    transition: 400ms;
    margin: 20px;
}
a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    letter-spacing: 1vw;
    padding: 2.7vh 30vw;
    transition: 400ms;
}
a:hover{
    background-color: #000;
    color: #fff;
}