body{
    padding: 50px;
}
div.container{
    border-top-left-radius: 2vw;
    border-left: 0.2vw solid #000;
}
h1{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 2vw;
}
p{
    word-spacing: 0.5vw;
    padding-left: 1vw;
}